#box { 
    background-image: url(./corona.jpeg);
    background-size: cover;
    background-position: center; 
    width: 100px; 
    height: 100px; 
    position: absolute; 
    left: 200px; 
    top: 200px; 
}

#quadrado {
    width: 120px;
    height: 120px;
    border: red solid 3px;
}

#quadrado {
    margin: auto;
}

h1 {
    text-align: center;
}